# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# Logs
logs/
*.log

# ChromaDB

chroma_db/
*.sqlite3
None/


# Uploads
uploads/

# VS Code
.vscode/

# Streamlit
.streamlit/

# OS Files
.DS_Store
Thumbs.db
